
@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Boska";
  src: url("./assets/Boska-Variable.ttf") format("truetype");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/Satoshi-Variable.ttf") format("truetype");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-boska: "Boska", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-satoshi);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #151515;
  /* your main bg */
}

*::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  /* subtle contrast */
  border-radius: 999px;
  border: 0px solid #1f1f1f;
  /* creates padding effect */
}

*::-webkit-scrollbar-thumb:hover {
  background: #4a3a3a;
}
